@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=Yanone+Kaffeesatz:wght@300&display=swap');

* {
	box-sizing: border-box;	
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
	padding: 0;
}

html {
	height:100%;
}

body {
    margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height:100%;
}

header{
    display: flex;
    flex-direction: column;
}

/*PARTE PRETA*/
header .containerBlack{
    background-color: #454956;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}
header .logo h1{
    font-family: 'Yanone Kaffeesatz';
    color: white;
    font-size: 3rem;
    margin: 0;
    padding: 42px 0px;
}
header .botoes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.botoes button{
    border: none;
    border-radius: 8px;
    background-color: #EF8408;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}
header .botoes img{
    margin-left:15px;
    width: 8%;
    filter: invert(84%) sepia(25%) saturate(930%) hue-rotate(347deg) brightness(103%) contrast(102%);
}

/*PARTE AZUL*/
header .containerBlue{
    background-color: #1C6CB2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 32px;
}
nav ul{
	margin:0;
	padding: 0;
	list-style: none;
	display: flex;
    gap: 32px;
}

nav ul li{
	text-decoration: none;
	color: #FFF;
    font-size: 1.3rem;
}

article .buscador{
    display: flex;
}

.buscador button{
    border: none;
    border-radius: 0px 8px 8px 0px;
    background-color: #EF8408;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    padding: 6px 18px;
}
.buscador input{
    border: none;
    border-radius: 8px 0px 0px 8px;
    margin: 0px;
    width: 250px;
    font-size: 1rem;
}

/*Fim do header*/

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloprincipal{
    width: 416px;
    height: 58px;
    left: 432px;
    top: 408px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.inicioform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 40px;
    gap: 24px;
    width: 832px;
    height: 326px;
    left: 224px;
    top: 511px;
    border: 1px solid #8F8169;
    border-radius: 18px;
}

.input-box label{
    width: 82px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-box input{
    box-sizing: border-box;
    width: 792px;
    height: 68px;
    border: 1px solid #8F8169;
    border-radius: 18px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.botao{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 17px 75px;
    gap: 10px;
    width: 265px;
    height: 82px;
    left: 508px;
    top: 899px;
    background: #EF8408;
    border-radius: 18px;
}

.botao a{
    width: 115px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.partb{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo1{
    width: 404px;
    height: 58px;
    left: 438px;
    top: 1132px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #000000;
}

.titulo2{
    width: 439px;
    height: 58px;
    left: 421px;
    top: 1266px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #000000;
}

.botao2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 17px 75px;
    gap: 10px;
    width: 385px;
    height: 82px;
    left: 446px;
    top: 1400px;
    background: #EF8408;
    border-radius: 18px;
}

.botao2 a{
    width: 235px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

footer{
    background-color: #454956;
	display: flex;
	flex-direction: row;
    padding: 25px 35px;
    justify-content: space-between;
    align-items: center;
}

footer .mapa{
    margin: 0;
}

footer .mapa img{
    height: 300px;
	width: 560px;
	border-radius: 8px;
    object-fit: cover;
}

footer .footInfo{
	color: white;
}

footer .footInfo h3{
    font-size: 2rem;
}

footer .footInfo p{
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2;
    width: 400px;
}